﻿<div class="jumbotron">
    <h1>World Remit Test</h1>
    
</div>
<div class="row">
     <div class="col-md-12">
        <h2>API Endpoints</h2>
        <h3>Users</h3>
        <ul>
            <li>
                <b>GET /api/users</b>
            </li>
            <li>
                <b>POST /api/users/{id}/orders</b><br />
                <h5>Parameters</h5>
                <ul>
                    <li>
                        productsIds - Type Array(int), Required
                        membershipId - Type int
                    </li>
                </ul>
                <pre><code>
                    {
                        "productsIds": [1,2],
                        "membership": 1
                    }
                       
                </code></pre>
            </li>
        </ul>
    </div>
   
</div>
